<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <style>
        body {
            font-family: "Microsoft Yahei", Arial, sans-serif;
            padding: 0;
            color: #281302;
        }
        .dark {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #333;
            opacity: .7;
        }
        .small { font-size: 70%; }
        .underline { border-bottom: 1px solid #281302; padding: 0 5px 5px; }
        .text-center { text-align: center; }
        h1, h2, p, img {
            margin: 10px 0;
        }
        h1 { font-size: 30px; }
        h2 { font-size: 20px; }
        p { font-size: 16px; }
        img { display: block; width: 100%; }
    </style>
</head>
<body>
    {% load staticfiles %}
    {% if detail.name == 'Tasting Room' %}
        <h1><strong>Tasting Room</strong></h1>
        <p>西餐 新天地 人均300</p>
        <p>地址：卢湾区黄陂南路700号</p>
        <img src="{% static "orders/img/tasting-room-coupon.jpg" %}" alt="Tasting Room">
        <h1 class="underline">美位会员专享</h1>
        <p class="text-center">食物 五折 优惠</p>
        <p class="text-center">饮料 买一送一</p>
        <h2 class="text-center"><small>序列号</small> {{ coupon_no }}</h2>
    {% endif %}
    {% if status != 0 %}<div class="dark"></div>{% endif %}
</body>
</html>
