<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
        }
        .text-center { text-align: center; }
    </style>
</head>
<body>
    <h3 class="text-center">交易失败，请联系美位客服</h3>
    <p class="text-center">{{ errMsg }}</p>
    <p class="text-center"><span id="second">5</span>秒后自动返回首页...<a href="http://www.clubmeiwei.com">立即返回</a></p>
    <script>
        var t = 5;
        setInterval(function() {
            if (t == 0) {
                window.location.href = 'http://www.clubmeiwei.com/';
            } else {
                if (t > 0) document.getElementById('second').innerHTML = t;
            }
            t = t - 1;
        }, 1000);
    </script>
</body>
</html>
